{
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true,
			"modules": true,
			"experimentalObjectRestSpread": true
		}
	},
	"parser": "babel-eslint",
	"plugins": [
		"react"
	],
	"globals": {
		"it": true,
		"document": true,
		"window": true,
		"navigator": true,
		"console": true,
		"fetch": true,
		"describe": true,
		"expect": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	]
}