.Dashboard {
	font-size: 2rem;
	font-weight: bold;
}

.input-field {
	display: flex;
	flex-direction: column;
	max-width: 30rem;
	margin-left: 2rem;
}

img {
	width: 25%;
	height: auto;
	max-height: 50vh;
	vertical-align: middle;
}