$gridItemHeight: 10rem;
$gridItemWidth: 25rem;

.Dashboard {
    font-size: 2rem;
    font-weight: bold;
}

.search-form {
    margin: 1.5rem;
}

.search-icon-btn {
	vertical-align: middle;
}

.list-items-wrapper {
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-between;

    & > div {
		width: 25rem;
		margin: 0.25rem auto;
    }
}
