.Header {

}

.app-header {
	background-color: #222;
	height: 5rem;
	color: white;
}

.app-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 5rem;
	float: right;
}

.app-title {
	font-size: 1.5rem;
	line-height: 5rem;
	float: right
}

a {
	color: white;
	height: 5rem;
	line-height: 5rem;
	text-decoration: none;
	padding: 0 1rem;
}

a.active {
	color: black;
	background-color: white;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
