.Header {

}

.app-header {
	background-color: #222;
	height: 5rem;
	color: white;
}

.app-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 5rem;
	float: right;
}

.app-title {
	font-size: 1.5rem;
	line-height: 5rem;
	float: right
}

a {
	text-decoration: none;
}

a .navigation-item {
	color: white;
	height: 5rem;
	line-height: 5rem;
	padding: 0 1rem;
	text-align: center;
	min-width: 7rem;
}

a.active .navigation-item {
	color: black;
	background-color: #F1F1F1;
}

.navigation-item {
	display: inline-block;
	height: 100%;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
