$header-height: 3rem;
$header-indent: 1rem;

.app-header {
    display: flex;
    justify-content: space-between;
}

.logo-wrapper {
    position: relative;

    .app-logo {
		animation: App-logo-spin infinite 20s linear;
        height: $header-height;
        position: absolute;
        left: calc(-#{$header-height} - #{$header-indent});
    }

    .app-title {
        font-size: 1.5rem;
        margin-right: $header-indent;
        line-height: $header-height;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
